/* 'Electrolize', sans-serif */
@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

body {
    margin: 0;
}

.body-margin {
    margin: 0 auto;
    width: 750px;
}

form.form-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form .form-input {
    margin-bottom: 5px;
}

/* Leaderboard styling */
#leaderboard th, td {
    font-family: "Electrolize", sans-serif;
}

#leaderboard th {
    font-size: 24px;
    padding: 5px 30px;
}

#leaderboard td {
    text-align: center;
}